<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksap.repository.mybatis.TextMapper">

  <resultMap type="com.worksap.model.entity.TextResource" id="text">

    <!-- 用id属性来映射主键字段 -->
    <id property="id" column="id" />
    <result column="en"  property="en" />
    <result column="ja"  property="ja" />
    <result column="create_time"  property="createTime" />
    <result column="update_time"  property="updateTime" />
  </resultMap>

  <select id="count" resultType="Long">
    select count(*) from text_resource where id like concat('%',#{keyword},'%')
            or en like concat('%',#{keyword},'%')
            or ja like concat('%',#{keyword},'%')
  </select>

  <select id="findAll" resultMap="text">
    select * from text_resource where id like concat('%',#{keyword},'%')
    or en like concat('%',#{keyword},'%')
    or ja like concat('%',#{keyword},'%')
    <if test="pager.orderCol!=null">
    order by ${pager.orderCol} ${pager.od}
    </if>
    limit #{pager.start},#{pager.limit}
  </select>


</mapper>