<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shawn.repository.mybatis.TagMapper">

    <resultMap id="tag" type="Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="color" column="color"/>
        <result property="sys" column="sys"/>
    </resultMap>

    <select id="selecCount" resultType="integer">
        SELECT
        COUNT(*)
        FROM
        link
    </select>

    <!--<select id="selectTagsForLink" parameterType="int" resultType="Tag">-->
        <!--select * from tag-->
        <!--left join tag_link on tag_link.tag_id=tag.id-->
        <!--where tag_link.link_id=#{id}-->

    <!--</select>-->

    <delete id="deleteTagToLink">
        delete FROM tag_link
        where tag_id=#{tagId}

    </delete>

</mapper>